# Exercise: practice SQLAlchemy ðŸ§ª

Let's configure our first RDS instance on AWS and then use SQLAlchemy to write into our remote database and make some SQL queries!

1. Follow the instructions/videos from yesterday (M03-D03/04-Amazon-RDS.ipynb) to create your own RDS instance on AWS 
2. Download <a href="https://www.pgadmin.org/download/" target="_blank">PGAdmin</a> and configure it to access your remote database

If you get stuck at some step, don't hesitate to ask for help to your classmates, your teacher or your TA ðŸ¤—.

**Before continuing, please execute the cell below, this will install a package that is required to access your remote database from this notebook:**

In [1]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.8.6-cp37-cp37m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.6

3. Create an sqlalchemy engine that is connected to your AWS RDS instance

In [5]:
from sqlalchemy import create_engine

# Replace YOUR_USERNAME, YOUR_PASSWORD and YOUR_HOSTNAME
# by your credentials
engine = create_engine("postgresql+psycopg2://YOUR_USERNAME:YOUR_PASSWORD@YOUR_HOSTNAME/postgres", echo=True)

4. Create a new table named `customers` in your remote database and insert the following data :

| id | name       | country        | job        | age |
|----|------------|----------------|------------|-----|
| 1  | Sauerkraut | Germany        | engineer   | 37  |
| 2  | Jones      | United Kingdom | journalist | 52  |
| 3  | Dupont     | France         | dancer     | 25  |

Optionnal: Use PGAdmin to check that the table has been created without any mistake

In [6]:
# Let's instance a declarative base to be able to use our python class
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Let's define our table 
from sqlalchemy import Column, Integer, String 
class User(Base):
    __tablename__ = "customers"

    id = Column(Integer, primary_key=True)
    name = Column(String)
    country = Column(String)
    job = Column(String)
    age = Column(Integer)

    def __repr__(self):
        return "<User(name='{}', country='{}', job='{}', age='{}')>".format(self.name, self.country, self.job, self.age)

In [7]:
# Create table
Base.metadata.create_all(engine)

2020-09-04 15:23:20,919 INFO sqlalchemy.engine.base.Engine select version()
2020-09-04 15:23:20,920 INFO sqlalchemy.engine.base.Engine {}
2020-09-04 15:23:21,087 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-09-04 15:23:21,088 INFO sqlalchemy.engine.base.Engine {}
2020-09-04 15:23:21,257 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-09-04 15:23:21,258 INFO sqlalchemy.engine.base.Engine {}
2020-09-04 15:23:21,346 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-09-04 15:23:21,347 INFO sqlalchemy.engine.base.Engine {}
2020-09-04 15:23:21,430 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-09-04 15:23:21,431 INFO sqlalchemy.engine.base.Engine {}
2020-09-04 15:23:21,598 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-09-04 15:23:21,599 INFO sqlalchemy.engine.base.Engine {'name': 'customers'}
2020-09-04 15:23:21,768 INFO sqlalchemy.engine.base.Engine
CREATE TABLE customers (
	id SERIAL NOT NULL,
	name VARCHAR,
	country VARCHAR,
	job VARCHAR,
	age INTEGER,
	PRIMARY KEY (id)
)


2020-09-04 15:23:21,769 INFO sqlalchemy.engine.base.Engine {}
2020-09-04 15:23:21,916 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
# Create instances of User
user1 = User(id=1, name='Sauerkraut', country='Germany', job='engineer', age=37)
user2 = User(id=2, name='Jones', country='United Kingdom', job='journalist', age=52)
user3 = User(id=3, name='Dupont', country='France', job='dancer', age=25)

# Initialize a sessionmaker 
from sqlalchemy.orm import sessionmaker 
Session = sessionmaker(bind=engine)

# Instanciate Session 
session = Session()

# Add values to db 
session.add(user1)
session.add(user2)
session.add(user3)

# Commit the results 
session.commit()

2020-09-04 15:27:30,930 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-04 15:27:30,934 INFO sqlalchemy.engine.base.Engine INSERT INTO customers (id, name, country, job, age) VALUES (%(id)s, %(name)s, %(country)s, %(job)s, %(age)s)
2020-09-04 15:27:30,935 INFO sqlalchemy.engine.base.Engine ({'id': 1, 'name': 'Sauerkraut', 'country': 'Germany', 'job': 'engineer', 'age': 37}, {'id': 2, 'name': 'Jones', 'country': 'United Kingdom', 'job': 'journalist', 'age': 52}, {'id': 3, 'name': 'Dupont', 'country': 'France', 'job': 'dancer', 'age': 25})
2020-09-04 15:27:31,269 INFO sqlalchemy.engine.base.Engine COMMIT

5. Execute the cell below to download the famous iris dataset:

In [10]:
import plotly.express as px
dataset = px.data.iris()
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1

6. Create a table in your remote database containing the information of the dataset:

In [11]:
dataset.to_sql("iris", engine)

2020-09-04 15:32:06,073 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-09-04 15:32:06,074 INFO sqlalchemy.engine.base.Engine {'name': 'iris'}
2020-09-04 15:32:06,329 INFO sqlalchemy.engine.base.Engine
CREATE TABLE iris (
	index BIGINT,
	sepal_length FLOAT(53),
	sepal_width FLOAT(53),
	petal_length FLOAT(53),
	petal_width FLOAT(53),
	species TEXT,
	species_id BIGINT
)


2020-09-04 15:32:06,330 INFO sqlalchemy.engine.base.Engine {}
2020-09-04 15:32:06,500 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-04 15:32:06,585 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_iris_index ON iris (index)
2020-09-04 15:32:06,586 INFO sqlalchemy.engine.base.Engine {}
2020-09-04 15:32:06,755 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-04 15:32:06,843 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-04 15:32:06,845 INFO sqlalchemy.engine.base.Engine INSERT INTO iris (index, sepal_length, sepal_width, petal_length, petal_width, species, species_id) VALUES (%(index)s, %(sepal_length)s, %(sepal_width)s, %(petal_length)s, %(petal_width)s, %(species)s, %(species_id)s)
2020-09-04 15:32:06,846 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'sepal_length': 5.1, 'sepal_width': 3.5, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 1, 'sepal_length': 4.9, 'sepal_width': 3.0, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 2, 'sepal_length': 4.7, 'sepal_width': 3.2, 'petal_length': 1.3, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 3, 'sepal_length': 4.6, 'sepal_width': 3.1, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 4, 'sepal_length': 5.0, 'sepal_width': 3.6, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 5, 'sepal_length': 5.4, 'sepal_width': 3.9, 'petal_length': 1.7, 'petal_width': 0.4, 'species': 'setosa', 'species_id': 1}, {'index': 6, 'sepal_length': 4.6, 'sepal_width': 3.4, 'petal_length': 1.4, 'petal_width': 0.3, 'species': 'setosa', 'species_id': 1}, {'index': 7, 'sepal_length': 5.0, 'sepal_width': 3.4, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}  ... displaying 10 of 150 total bound parameter sets ...  {'index': 148, 'sepal_length': 6.2, 'sepal_width': 3.4, 'petal_length': 5.4, 'petal_width': 2.3, 'species': 'virginica', 'species_id': 3}, {'index': 149, 'sepal_length': 5.9, 'sepal_width': 3.0, 'petal_length': 5.1, 'petal_width': 1.8, 'species': 'virginica', 'species_id': 3})
2020-09-04 15:32:19,416 INFO sqlalchemy.engine.base.Engine COMMIT

### Now let's make some SQL requests !

To answer the following questions, don't hesitate to refer to <a href="https://www.sqltutorial.org/sql-cheat-sheet/" target="_blank">this cheatsheet</a>. ðŸ˜‰

7. What are the different species present in this dataset?

In [15]:
from sqlalchemy.sql import text

conn = engine.connect()

statement = text("SELECT DISTINCT species FROM iris")
result = conn.execute(statement)
result.fetchall()

2020-09-04 15:37:19,289 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT species FROM iris
2020-09-04 15:37:19,290 INFO sqlalchemy.engine.base.Engine {}

[('setosa',), ('virginica',), ('versicolor',)]

8. What is the average sepal length among all species?

In [16]:
statement = text("SELECT AVG(sepal_length) FROM iris")
result = conn.execute(statement)
result.fetchall()

2020-09-04 15:39:34,663 INFO sqlalchemy.engine.base.Engine SELECT AVG(sepal_length) FROM iris
2020-09-04 15:39:34,664 INFO sqlalchemy.engine.base.Engine {}

[(5.84333333333333,)]

9. What is the average sepal length for each species?

In [18]:
statement = text("SELECT species, AVG(sepal_length) FROM iris GROUP BY species")
result = conn.execute(statement)
result.fetchall()

2020-09-04 15:40:15,369 INFO sqlalchemy.engine.base.Engine SELECT species, AVG(sepal_length) FROM iris GROUP BY species
2020-09-04 15:40:15,370 INFO sqlalchemy.engine.base.Engine {}

[('setosa', 5.006), ('virginica', 6.588), ('versicolor', 5.936)]

10. How many samples of 'virginica' have sepal length < 6?

In [21]:
statement = text("SELECT COUNT(*) FROM iris WHERE (species = 'virginica' AND sepal_length < 6)")
result = conn.execute(statement)
result.fetchall()

2020-09-04 15:44:09,827 INFO sqlalchemy.engine.base.Engine SELECT COUNT(*) FROM iris WHERE (species = 'virginica' AND sepal_length < 6)
2020-09-04 15:44:09,829 INFO sqlalchemy.engine.base.Engine {}

[(7,)]

11. For each species, count the number of samples having sepal length < 6:

In [23]:
statement = text("SELECT species, COUNT(*) FROM iris WHERE sepal_length < 6 GROUP BY species")
result = conn.execute(statement)
result.fetchall()

2020-09-04 15:45:30,995 INFO sqlalchemy.engine.base.Engine SELECT species, COUNT(*) FROM iris WHERE sepal_length < 6 GROUP BY species
2020-09-04 15:45:30,996 INFO sqlalchemy.engine.base.Engine {}

[('setosa', 50), ('virginica', 7), ('versicolor', 26)]