In [ ]:
import pandas as pd
import requests
import json

In [2]:
df = pd.read_excel("https://full-stack-assets.s3.eu-west-3.amazonaws.com/Deployment/ibm_hr_attrition.xlsx")

df.head(5).to_json()

'{"Unnamed: 0":{"0":0,"1":1,"2":2,"3":3,"4":4},"Age":{"0":41,"1":49,"2":37,"3":33,"4":27},"Attrition":{"0":"Yes","1":"No","2":"Yes","3":"No","4":"No"},"BusinessTravel":{"0":"Travel_Rarely","1":"Travel_Frequently","2":"Travel_Rarely","3":"Travel_Frequently","4":"Travel_Rarely"},"DailyRate":{"0":1102,"1":279,"2":1373,"3":1392,"4":591},"Department":{"0":"Sales","1":"Research & Development","2":"Research & Development","3":"Research & Development","4":"Research & Development"},"DistanceFromHome":{"0":1,"1":8,"2":2,"3":3,"4":2},"Education":{"0":2,"1":1,"2":2,"3":4,"4":1},"EducationField":{"0":"Life Sciences","1":"Life Sciences","2":"Other","3":"Life Sciences","4":"Medical"},"EmployeeCount":{"0":1,"1":1,"2":1,"3":1,"4":1},"EmployeeNumber":{"0":1,"1":2,"2":4,"3":5,"4":7},"EnvironmentSatisfaction":{"0":2,"1":3,"2":4,"3":4,"4":1},"Gender":{"0":"Female","1":"Male","2":"Male","3":"Female","4":"Male"},"HourlyRate":{"0":94,"1":61,"2":92,"3":56,"4":40},"JobInvolvement":{"0":3,"1":2,"2":2,"3":3,"4":3},"JobLevel":{"0":2,"1":2,"2":1,"3":1,"4":1},"JobRole":{"0":"Sales Executive","1":"Research Scientist","2":"Laboratory Technician","3":"Research Scientist","4":"Laboratory Technician"},"JobSatisfaction":{"0":4,"1":2,"2":3,"3":3,"4":2},"MaritalStatus":{"0":"Single","1":"Married","2":"Single","3":"Married","4":"Married"},"MonthlyIncome":{"0":5993,"1":5130,"2":2090,"3":2909,"4":3468},"MonthlyRate":{"0":19479,"1":24907,"2":2396,"3":23159,"4":16632},"NumCompaniesWorked":{"0":8,"1":1,"2":6,"3":1,"4":9},"Over18":{"0":"Y","1":"Y","2":"Y","3":"Y","4":"Y"},"OverTime":{"0":"Yes","1":"No","2":"Yes","3":"Yes","4":"No"},"PercentSalaryHike":{"0":11,"1":23,"2":15,"3":11,"4":12},"PerformanceRating":{"0":3,"1":4,"2":3,"3":3,"4":3},"RelationshipSatisfaction":{"0":1,"1":4,"2":2,"3":3,"4":4},"StandardHours":{"0":80,"1":80,"2":80,"3":80,"4":80},"StockOptionLevel":{"0":0,"1":1,"2":0,"3":0,"4":1},"TotalWorkingYears":{"0":8,"1":10,"2":7,"3":8,"4":6},"TrainingTimesLastYear":{"0":0,"1":3,"2":3,"3":3,"4":3},"WorkLifeBalance":{"0":1,"1":3,"2":3,"3":3,"4":3},"YearsAtCompany":{"0":6,"1":10,"2":0,"3":8,"4":2},"YearsInCurrentRole":{"0":4,"1":7,"2":0,"3":7,"4":2},"YearsSinceLastPromotion":{"0":0,"1":1,"2":0,"3":3,"4":2},"YearsWithCurrManager":{"0":5,"1":7,"2":0,"3":0,"4":2}}'

In [5]:
df = pd.read_excel("https://full-stack-assets.s3.eu-west-3.amazonaws.com/Deployment/ibm_hr_attrition.xlsx")
pd.Series(df["Age"].unique()).to_json()

'{"0":41,"1":49,"2":37,"3":33,"4":27,"5":32,"6":59,"7":30,"8":38,"9":36,"10":35,"11":29,"12":31,"13":34,"14":28,"15":22,"16":53,"17":24,"18":21,"19":42,"20":44,"21":46,"22":39,"23":43,"24":50,"25":26,"26":48,"27":55,"28":45,"29":56,"30":23,"31":51,"32":40,"33":54,"34":58,"35":20,"36":25,"37":19,"38":57,"39":52,"40":47,"41":18,"42":60}'

In [21]:
r = getattr(pd.core.groupby.generic.DataFrameGroupBy, 'max')

# calling the function and storing
# the value in res
r(df.groupby("Department")).to_json()

'{"Unnamed: 0":{"Human Resources":1450,"Research & Development":1469,"Sales":1468},"Age":{"Human Resources":59,"Research & Development":60,"Sales":60},"Attrition":{"Human Resources":"Yes","Research & Development":"Yes","Sales":"Yes"},"BusinessTravel":{"Human Resources":"Travel_Rarely","Research & Development":"Travel_Rarely","Sales":"Travel_Rarely"},"DailyRate":{"Human Resources":1444,"Research & Development":1496,"Sales":1499},"DistanceFromHome":{"Human Resources":26,"Research & Development":29,"Sales":29},"Education":{"Human Resources":5,"Research & Development":5,"Sales":5},"EducationField":{"Human Resources":"Technical Degree","Research & Development":"Technical Degree","Sales":"Technical Degree"},"EmployeeCount":{"Human Resources":1,"Research & Development":1,"Sales":1},"EmployeeNumber":{"Human Resources":2040,"Research & Development":2068,"Sales":2065},"EnvironmentSatisfaction":{"Human Resources":4,"Research & Development":4,"Sales":4},"Gender":{"Human Resources":"Male","Research & Development":"Male","Sales":"Male"},"HourlyRate":{"Human Resources":100,"Research & Development":100,"Sales":100},"JobInvolvement":{"Human Resources":4,"Research & Development":4,"Sales":4},"JobLevel":{"Human Resources":5,"Research & Development":5,"Sales":5},"JobRole":{"Human Resources":"Manager","Research & Development":"Research Scientist","Sales":"Sales Representative"},"JobSatisfaction":{"Human Resources":4,"Research & Development":4,"Sales":4},"MaritalStatus":{"Human Resources":"Single","Research & Development":"Single","Sales":"Single"},"MonthlyIncome":{"Human Resources":19717,"Research & Development":19999,"Sales":19847},"MonthlyRate":{"Human Resources":26894,"Research & Development":26999,"Sales":26997},"NumCompaniesWorked":{"Human Resources":9,"Research & Development":9,"Sales":9},"Over18":{"Human Resources":"Y","Research & Development":"Y","Sales":"Y"},"OverTime":{"Human Resources":"Yes","Research & Development":"Yes","Sales":"Yes"},"PercentSalaryHike":{"Human Resources":23,"Research & Development":25,"Sales":25},"PerformanceRating":{"Human Resources":4,"Research & Development":4,"Sales":4},"RelationshipSatisfaction":{"Human Resources":4,"Research & Development":4,"Sales":4},"StandardHours":{"Human Resources":80,"Research & Development":80,"Sales":80},"StockOptionLevel":{"Human Resources":3,"Research & Development":3,"Sales":3},"TotalWorkingYears":{"Human Resources":36,"Research & Development":40,"Sales":38},"TrainingTimesLastYear":{"Human Resources":6,"Research & Development":6,"Sales":6},"WorkLifeBalance":{"Human Resources":4,"Research & Development":4,"Sales":4},"YearsAtCompany":{"Human Resources":33,"Research & Development":40,"Sales":37},"YearsInCurrentRole":{"Human Resources":10,"Research & Development":18,"Sales":17},"YearsSinceLastPromotion":{"Human Resources":12,"Research & Development":15,"Sales":15},"YearsWithCurrManager":{"Human Resources":10,"Research & Development":17,"Sales":17}}'

In [17]:
type(df.groupby("Department"))

pandas.core.groupby.generic.DataFrameGroupBy

In [ ]:
df.groupby("Department").mean()

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Department,,,,,,,,,,,,,,,,,,,,,
Human Resources,1450,59,Yes,Travel_Rarely,1444,26,5,Technical Degree,1,2040,...,4,80,3,36,6,4,33,10,12,10
Research & Development,1469,60,Yes,Travel_Rarely,1496,29,5,Technical Degree,1,2068,...,4,80,3,40,6,4,40,18,15,17
Sales,1468,60,Yes,Travel_Rarely,1499,29,5,Technical Degree,1,2065,...,4,80,3,38,6,4,37,17,15,17

In [30]:
response = requests.get("http://0.0.0.0:4000/unique-values?column=Department")
response.json()

'{"0":"Sales","1":"Research & Development","2":"Human Resources"}'

In [31]:
type(response.json())

str

In [ ]:

df = pd.DataFrame.from_dict(.replace("'", ""))
df

ValueError: DataFrame constructor not properly called!