In [2]:
import pandas as pd
import requests
import json

In [6]:
df = pd.read_excel("https://full-stack-assets.s3.eu-west-3.amazonaws.com/Deployment/ibm_hr_attrition.xlsx")

df.iloc[0].to_json()

'{"Unnamed: 0":0,"Age":41,"Attrition":"Yes","BusinessTravel":"Travel_Rarely","DailyRate":1102,"Department":"Sales","DistanceFromHome":1,"Education":2,"EducationField":"Life Sciences","EmployeeCount":1,"EmployeeNumber":1,"EnvironmentSatisfaction":2,"Gender":"Female","HourlyRate":94,"JobInvolvement":3,"JobLevel":2,"JobRole":"Sales Executive","JobSatisfaction":4,"MaritalStatus":"Single","MonthlyIncome":5993,"MonthlyRate":19479,"NumCompaniesWorked":8,"Over18":"Y","OverTime":"Yes","PercentSalaryHike":11,"PerformanceRating":3,"RelationshipSatisfaction":1,"StandardHours":80,"StockOptionLevel":0,"TotalWorkingYears":8,"TrainingTimesLastYear":0,"WorkLifeBalance":1,"YearsAtCompany":6,"YearsInCurrentRole":4,"YearsSinceLastPromotion":0,"YearsWithCurrManager":5}'

In [5]:
df = pd.read_excel("https://full-stack-assets.s3.eu-west-3.amazonaws.com/Deployment/ibm_hr_attrition.xlsx")
pd.Series(df["Age"].unique()).to_json()

'{"0":41,"1":49,"2":37,"3":33,"4":27,"5":32,"6":59,"7":30,"8":38,"9":36,"10":35,"11":29,"12":31,"13":34,"14":28,"15":22,"16":53,"17":24,"18":21,"19":42,"20":44,"21":46,"22":39,"23":43,"24":50,"25":26,"26":48,"27":55,"28":45,"29":56,"30":23,"31":51,"32":40,"33":54,"34":58,"35":20,"36":25,"37":19,"38":57,"39":52,"40":47,"41":18,"42":60}'

In [21]:
r = getattr(pd.core.groupby.generic.DataFrameGroupBy, 'max')

# calling the function and storing
# the value in res
r(df.groupby("Department")).to_json()

'{"Unnamed: 0":{"Human Resources":1450,"Research & Development":1469,"Sales":1468},"Age":{"Human Resources":59,"Research & Development":60,"Sales":60},"Attrition":{"Human Resources":"Yes","Research & Development":"Yes","Sales":"Yes"},"BusinessTravel":{"Human Resources":"Travel_Rarely","Research & Development":"Travel_Rarely","Sales":"Travel_Rarely"},"DailyRate":{"Human Resources":1444,"Research & Development":1496,"Sales":1499},"DistanceFromHome":{"Human Resources":26,"Research & Development":29,"Sales":29},"Education":{"Human Resources":5,"Research & Development":5,"Sales":5},"EducationField":{"Human Resources":"Technical Degree","Research & Development":"Technical Degree","Sales":"Technical Degree"},"EmployeeCount":{"Human Resources":1,"Research & Development":1,"Sales":1},"EmployeeNumber":{"Human Resources":2040,"Research & Development":2068,"Sales":2065},"EnvironmentSatisfaction":{"Human Resources":4,"Research & Development":4,"Sales":4},"Gender":{"Human Resources":"Male","Research & Development":"Male","Sales":"Male"},"HourlyRate":{"Human Resources":100,"Research & Development":100,"Sales":100},"JobInvolvement":{"Human Resources":4,"Research & Development":4,"Sales":4},"JobLevel":{"Human Resources":5,"Research & Development":5,"Sales":5},"JobRole":{"Human Resources":"Manager","Research & Development":"Research Scientist","Sales":"Sales Representative"},"JobSatisfaction":{"Human Resources":4,"Research & Development":4,"Sales":4},"MaritalStatus":{"Human Resources":"Single","Research & Development":"Single","Sales":"Single"},"MonthlyIncome":{"Human Resources":19717,"Research & Development":19999,"Sales":19847},"MonthlyRate":{"Human Resources":26894,"Research & Development":26999,"Sales":26997},"NumCompaniesWorked":{"Human Resources":9,"Research & Development":9,"Sales":9},"Over18":{"Human Resources":"Y","Research & Development":"Y","Sales":"Y"},"OverTime":{"Human Resources":"Yes","Research & Development":"Yes","Sales":"Yes"},"PercentSalaryHike":{"Human Resources":23,"Research & Development":25,"Sales":25},"PerformanceRating":{"Human Resources":4,"Research & Development":4,"Sales":4},"RelationshipSatisfaction":{"Human Resources":4,"Research & Development":4,"Sales":4},"StandardHours":{"Human Resources":80,"Research & Development":80,"Sales":80},"StockOptionLevel":{"Human Resources":3,"Research & Development":3,"Sales":3},"TotalWorkingYears":{"Human Resources":36,"Research & Development":40,"Sales":38},"TrainingTimesLastYear":{"Human Resources":6,"Research & Development":6,"Sales":6},"WorkLifeBalance":{"Human Resources":4,"Research & Development":4,"Sales":4},"YearsAtCompany":{"Human Resources":33,"Research & Development":40,"Sales":37},"YearsInCurrentRole":{"Human Resources":10,"Research & Development":18,"Sales":17},"YearsSinceLastPromotion":{"Human Resources":12,"Research & Development":15,"Sales":15},"YearsWithCurrManager":{"Human Resources":10,"Research & Development":17,"Sales":17}}'

In [17]:
type(df.groupby("Department"))

pandas.core.groupby.generic.DataFrameGroupBy

In [ ]:
df.groupby("Department").mean()

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Department,,,,,,,,,,,,,,,,,,,,,
Human Resources,1450,59,Yes,Travel_Rarely,1444,26,5,Technical Degree,1,2040,...,4,80,3,36,6,4,33,10,12,10
Research & Development,1469,60,Yes,Travel_Rarely,1496,29,5,Technical Degree,1,2068,...,4,80,3,40,6,4,40,18,15,17
Sales,1468,60,Yes,Travel_Rarely,1499,29,5,Technical Degree,1,2065,...,4,80,3,38,6,4,37,17,15,17

In [38]:
response = requests.get("http://0.0.0.0:4000/unique-values?column=Department")
df = pd.DataFrame.from_dict(json.loads(response.json()), orient='index')
df

                        0
0                   Sales
1  Research & Development
2         Human Resources

In [40]:
def test(percentage) :

    if percentage <= 0.0 or percentage >= 1.0 :
        return "Percentage must be between 0.0 and 1.0 (excluded)"

    
test(0)

'Percentage must be between 0.0 and 1.0 (excluded)'